body {
  background: #e7f3f1;
  text-align: center;
}

div {
  border-radius: 5px;
  padding: 20px;
}

/* CSS styling for general buttons */
button {
  width: 100%;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
  background-color: white;
  margin: 0.25em;
}

button:hover {
  background: #e7e7e7;
  transition: 0.7s;
}

button:focus {
  background: #e7e7e7;
  transition: 0.7s;
}

/* CSS styling for contact card grid list */
.page-contain {
  display: grid;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.data-card {
  display: flex;
  flex-direction: column;
  min-width: 25em;
  max-width: 30em;
  max-height: 25.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(#000000, 0.1);
}

h3 {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid rgb(0, 62, 169);
  transition: color 0.45s ease, border 0.45s ease;
}

h4 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 1em 0 1em;
  transition: color 0.45s ease;
}

.email {
  margin: 0 0 1em;
}

/* delete button on card-grid */
.delete-contact {
  border-color: red;
  color: red;
  cursor: pointer;
}

.delete-contact:hover {
  background-color: red;
  color: white;
}

.delete-contact:focus {
  background-color: red;
  color: white;
}